
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Films</h1>
  </div>
    <% if user_signed_in?%>
      <div class="flex justify-end">
        <%= link_to 'New Post', new_film_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
      <div class="flex justify-end mt-2">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%>
      </div>
  <%# <% else %> 
    <%# <%= link_to "Login", new_user_session_path %> 
    <%# <%= link_to "Sign up", new_user_registration_path %> 
  <% end %>


  <div id="blog_posts" class="min-w-full">
    <div class="w-full flex flex-row">

      <%@blog_posts.each do |blog_post|%>
        <div>
          <h2><%= link_to blog_post.title, blog_post%></h2>
          <% if blog_post.draft? %>
            <div class = "p-2 rounded bg-gray-100 text-gray-900">Draft</div>
          <% elsif blog_post.scheduled? %>
            <div class = "p-2 rounded bg-blue-100 text-gray-900">Scheduled</div>
          <% end %>
        </div>
        <div>
          <h3><%= blog_post.content%></h3>
        <div>
      <% end%>

      <div class="mt-16">
        <%== pagy_nav(@pagy) if @pagy.pages>1%>
      </div>
    </div> 
  </div>
</div>

