<div class="w-full">
  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl mb-12">Films</h1>
  </div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if user_signed_in?%>
    <div class="flex justify-end">
      <%= link_to 'New film', new_film_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

    </div>
    <div class="flex justify-end mt-2">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%>
    </div>
  <% end %>

  <div id="films" class="flex overflow-x-scroll overflow-y-hidden">
    <div class="grid grid-cols-6 gap-4">

      <%@films.each do |film|%>
        <div class="col-span-1">
          <div class="w-64 h-96 bg-no-repeat bg-center bg-cover mx-4">
              <% if film.poster.present? %>
                <div class="w-48 h-64 overflow-hidden"> 

                  <%= image_tag film.poster, class: "w-48 h-64 object-contain" %>
                </div>

              <% end %>
              <div class="text-center mt-4">
                <h2 class="font-bold text-lg"><%= link_to film.title, film%></h2>
              </div>
              <div>
                <% if film.draft? %>
                  <div class = "text-center mt-4 p-2 rounded bg-gray-100 text-gray-900">Draft</div>
                <% elsif film.scheduled? %>
                  <div class = "text-center mt-4 p-2 rounded bg-blue-100 text-gray-900">Scheduled</div>
                <% end %>
              </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
