<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Reviews</h1>
  </div>

  <% if user_signed_in?%>
    <div class="flex justify-end">
      <%= link_to 'New Review', new_review_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>  
    </div>
    <div class="flex justify-end mt-2">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%>
    </div>
  <% end %>
  
  <div id="reviews" class="flex overflow-x-scroll">
    <div class="grid grid-cols-4 gap-4">
      <% @reviews.each do |review| %>
        <div class="col-span-1">
          <div class="max-w-xs mx-auto">
            <div class="w-64 bg-no-repeat bg-center bg-cover mx-4">
              <% if review.film.poster.present? %>
                <div class="w-64 h-64 overflow-hidden">
                  <%= image_tag review.film.poster, class: "w-64 h-64 object-contain" %>
                </div>
              <% end %>
              <div class="text-center mt-4">
                <h2 class="font-bold text-lg"><%= link_to review.headline, review %></h2>
              </div>
              <p>
                <%= truncate(sanitize(review.content.to_plain_text, tags: []), length: 100) %>
              </p>
              <div>
                <% if review.draft? %>
                  <div class="text-center mt-4 p-2 rounded bg-gray-100 text-gray-900">Draft</div>
                <% elsif review.scheduled? %>
                  <div class="text-center mt-4 p-2 rounded bg-blue-100 text-gray-900">Scheduled</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>